<footer>
<p>
  This site was built with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>, with many thanks to creator <a href="https://www.zachleat.com/">Zach Leatherman</a>.<br />
  The template was forked from the <a href="https://github.com/philhawksworth/eleventyone" target="_blank">EleventyOne</a> starter, built by the inimitable <a href="https://www.hawksworx.com/" target="_blank">Phil Hawksworth</a>.<br />
  You can find the repo for this site on <a href="https://github.com/lesliecdubs/leslie.dev" target="_blank">GitHub</a>. It is hosted with lots of love on <a href="http://netlify.com" target="_blank">Netlify</a>.
</p>
<p>
  This page was last built on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}.
</p>
</footer>
