<footer class="footer separator">
  <div class="content__container">
    <p>
      This site was built with <a href="https://www.11ty.dev/" target="_blank" rel="noopener nofollow">Eleventy</a> thanks to <a href="https://www.zachleat.com/" target="_blank" rel="noopener nofollow">Zach Leatherman</a>.<br />
      The template was forked from the <a href="https://github.com/philhawksworth/eleventyone" target="_blank" rel="noopener nofollow">EleventyOne</a> starter, built by the inimitable <a href="https://www.hawksworx.com/" target="_blank" rel="noopener nofollow">Phil Hawksworth</a>.<br />
      It would be a lot less pretty if it weren’t for <a href="https://twitter.com/hey_amie" target="_blank" rel="noopener nofollow">Amarilis Dias</a>’s actionable design feedback.
    </p>
    <p>
      You can find the repo for this site on <a href="https://github.com/lesliecdubs/leslie.dev" target="_blank" rel="noopener nofollow">GitHub</a>. It is hosted with lots of love on <a href="https://app.netlify.com/sites/leslie-dot-dev/deploys" target="_blank" rel="noopener nofollow">Netlify</a>.<br />
      This page was last built on {{ site.buildTime | dateDisplay('LLL d, yyyy')}} &copy; <span class="no-break">Leslie Cohn-Wein</span>
    </p>
  </div>
</footer>
