<footer class="footer">
  <p>
    This site was built with <a class="link--naked" href="https://www.11ty.dev/" target="_blank" rel="noopener nofollow">Eleventy</a>, with many thanks to creator <a class="link--naked" href="https://www.zachleat.com/" target="_blank" rel="noopener nofollow">Zach Leatherman</a>.<br />
    The template was forked from the <a class="link--naked" href="https://github.com/philhawksworth/eleventyone" target="_blank" rel="noopener nofollow">EleventyOne</a> starter, built by the inimitable <a class="link--naked" href="https://www.hawksworx.com/" target="_blank" rel="noopener nofollow">Phil Hawksworth</a>.<br />
    You can find the repo for this site on <a class="link--naked" href="https://github.com/lesliecdubs/leslie.dev" target="_blank" rel="noopener nofollow">GitHub</a>. It is hosted with lots of love on <a class="link--naked" href="http://netlify.com" target="_blank" rel="noopener nofollow">Netlify</a>.
  </p>
  <p>
    This page was last built on {{ site.buildTime | dateDisplay('LLL d, yyyy')}} at {{ site.buildTime | dateDisplay('HH:mm') }}.
  </p>
</footer>
