<header class="header">
  <a class="logo link--naked" aria-label="Leslie Cohn-Wein home" href="/">
    {% include "../images/logo.svg" %}
  </a>

  {%- if subtitle %}
  <p class="subtitle">{{ subtitle | safe }}</p>
  {% endif %}
</header>