<nav class="nav">
  <ul class="container nav__container">
    <li>
      <a href="#about" data-scroll-to>👩🏻‍💻 about</a>
    </li>
    <li>
      <a href="#speaking" data-scroll-to>🎤 speaking</a>
    </li>
    <li>
      <a href="#writing" data-scroll-to>✏️ writing</a>
    </li>
    <li>
      <a href="#awards" data-scroll-to>🏆 awards</a>
    </li>
    <li>
      <a href="#work" data-scroll-to>💻 work</a>
    </li>
  </ul>
</nav>