<nav class="nav">
  <ul class="container nav__container">
    <li>
      <a href="#about" data-scroll-to>
        <span class="nav--emoji">👩🏻‍💻</span> about
      </a>
    </li>
    <li>
      <a href="#speaking" data-scroll-to>
        <span class="nav--emoji">🎤</span> speaking
      </a>
    </li>
    <li>
      <a href="#writing" data-scroll-to>
        <span class="nav--emoji">✏️</span> writing
      </a>
    </li>
    <li>
      <a href="#awards" data-scroll-to>
        <span class="nav--emoji">🏆</span> awards
      </a>
    </li>
    <li>
      <a href="#work" data-scroll-to>
        <span class="nav--emoji">💻</span> work
      </a>
    </li>
  </ul>
</nav>