<nav class="nav">
  <ul class="container nav__container">
    <li>
      <a href="#about">👩🏻‍💻 about</a>
    </li>
    <li>
      <a href="#speaking">🎤 speaking</a>
    </li>
    <li>
      <a href="#writing">✏️ writing</a>
    </li>
    <li>
      <a href="#work">💻 work</a>
    </li>
    <li>
      <a href="#awards">🏆 awards</a>
    </li>
  </ul>
</nav>