<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Leslie Cohn-Wein is a Senior Frontend Engineer who loves the Jamstack, React, CSS, & accessibility.">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/images/favicon.ico" sizes="16x16" />
  <title>{{ title }}</title>
</head>

  <body id="top" data-scroll-point {% if bodyClass %}class="{{ bodyClass }}" {% endif %}>
    {% include "nav.njk" %}

    <div class="container-wrap">
      {% include "header.njk" %}
      {{ content | safe }}

      {% include "footer.njk" %}
    </div>

    {% set js %}
    {% include "js/nav.js" %}
    {% include "js/video.js" %}
    {% endset %}

    <script>{{ js | jsmin | safe }}</script>
  </body>
</html>