* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $accent-color;
  color: $page-color;
}

::selection {
  background-color: $accent-color;
  color: $page-color;
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; 
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap; /* added line */
  width: 1px;
}

html {
  background-color: $accent-color;
}

body {
  background: $page-color;
  border-bottom: 6px solid $accent-color;
  color: mix($text-color, $page-color, 90%);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  min-height: 100vh;
  text-align: center;

  @media (min-width: $narrow) {
    font-size: 18px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5em;
  text-align: left;
  width: 90%;

  @media (min-width: $mid) {
    max-width: 900px;
    width: 92%;
  }
}

.container__content {
  padding: 1.5em 0 0.5em;

  @media (min-width: $wide) {
    padding: 2em 2em 1em;
  }
}

.header {
  padding-top: 60px;
  position: relative;

  @media (min-width: $mid) {
    padding-top: 70px;
  }
}

.header__content {
  margin-bottom: 40px;
  padding-top: 35px;
  position: relative;
  z-index: 1;

  @media (min-width: $mid) {
    margin-bottom: 60px;
    padding-top: 80px;
  }
}

.skewed {
  /* background-image: linear-gradient(to bottom, #FFC0AE 0%, #fadac6 100%); */
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #FFC0AE 0%, #fffaf7 100%);
  border-bottom: 1px solid rgba(56, 56, 56, 0.1);
  bottom: 0;
  height: 100%;
  left: 0;
  padding-bottom: 2em;
  position: absolute;
  right: 0;
  top: 0;
  transform: skewY(2deg);
  transform-origin: top right;
  width: 100%;
  z-index: 0;

  @media (min-width: $mid) {
    padding-bottom: 3.5em;
  }
}

.separator {
  position: relative;

  &::before {
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #ff8d6c 0%, #fadac6 100%);
    border-bottom: 1px solid rgba(56, 56, 56, 0.1);
    border-top: 1px solid rgba(56, 56, 56, 0.1);
    content: "";
    height: 10px;
    left: 0;
    padding-bottom: 3.5em;
    position: absolute;
    top: -25px;
    transform-origin: top left;
    transform: skewY(-1deg);
    width: 100%;
    z-index: 0;

    @media (min-width: $mid) {
      height: 40px;
      top: -50px;
    }
  }

  &.separator--alt {
    &::before {
      top: -40px;
      transform-origin: top right;
      transform: skewY(1deg);

      @media (min-width: $mid) {
        top: -30px;
      }
    }
  }

  .container {
    margin-top: 50px;

    @media (min-width: $mid) {
      margin-top: 90px;
    }
  }

  + section {
    .container__content {
      padding-top: 0;
    }

    + section {
      .container__content {
        padding-top: 0;
      }
    }
  }
}

.home-about {
  p:first-of-type {
    margin-top: 0;
  }
}

h1,
h2,
h3 {
  color: $accent-color;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.2em;
  margin-top: 2em;
  text-shadow: 2px 2px 0 #ffc8b8;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.2em;
  margin-top: 0.4em;

  @media (min-width: $mid) {
    font-size: 5em;
  }

  @media (min-width: $wide) {
    font-size: 6em;
  }
}

h2 {
  font-size: 2em;
}

[data-scroll-point] {
  /* scroll-margin-top: 85px;  doesn't work in Safari yet :sob */

  &::before {
    content: "";
    display: block;
    margin-top: -85px; /* header height to degrees padding’s space */
    padding-top: 85px; /* header height + empty space */
  }
}

.logo {
  overflow: hidden;
  position: relative;

  svg {
    display: block;
    margin: 0 auto;
    max-width: 825px;
    position: relative;
    z-index: 1;
  }

  &::after {
    background: radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0) 80%);
    content: "";
    height: 100%;
    left: 40%;
    opacity: 0.35;
    position: absolute;
    top: 0;
    transform: translateX(-40%);
    width: 100%;
  }
}

.logo:link,
.logo:visited {
  border-bottom: 0;
  display: block;
  text-decoration: none;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.logo__path {
  animation: dash 5s linear forwards;
  stroke-dasharray: 2300;
  stroke-dashoffset: 2300;
}

.logo__path--second {
  animation-delay: 1s;
}

.logo__path--third {
  animation-delay: 2s;
}

p {
  margin-bottom: 1em;
  margin-top: 1em;
}

.subtitle {
  font-size: 0.9em;
  line-height: 1.8;
  margin-bottom: 1em;
  margin-top: 1em;
  position: relative;
  text-align: center;

  @media (min-width: $mid) {
    font-size: 1.1em;
    line-height: 1.9;
    margin-bottom: 1.8em;
    margin-top: 1.5em;
  }

  br {
    content: ' ';

    @media (min-width: $mid) {
      content: none;
    }
  }

  br:after {
    content: ' ';

    @media (min-width: $mid) {
      content: none;
    }
  }
}

.social-links {
  margin-bottom: 1em;
  text-align: center;

  @media (min-width: $mid) {
    margin-bottom: 2em;
  }

  a {
    color: $text-color;
    margin: 0 0.5em;
    opacity: 0.75;
    text-decoration: none;
    transition: color 0.1s;

    &:hover:not(.logo),
    &:active:not(.logo),
    &:focus:not(.logo) {
      color: $accent-color;
    }
  }

  svg {
    height: 18px;
    width: 18px;

    @media (min-width: $mid) {
      height: 24px;
      width: 24px;
    }
  }
}

.headshot {
  border-radius: 50%;
  float: left;
  margin-right: 1.5em;
  shape-outside: margin-box;
  width: 85px;

  @media (min-width: $mid) {
    width: 125px;
  }
}

ul,
ol {
  list-style-type: none;

  @media (min-width: $mid) {
    list-style-type: inherit;
    padding-left: 1em;
  }

  li {
    margin-bottom: 1em;

    @media (min-width: $mid) {
      margin-bottom: 0.15em;
    }
  }
}

a:link:not(.link--naked),
a:visited:not(.link--naked) {
  color: $text-color;
  display: inline;
  padding: 0 2px;
  text-decoration-color: $accent-color;
  text-decoration-thickness: .1em;
  text-underline-offset: 0.3em;

  @media (min-width: $mid) {
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: color;
    z-index: 1;
  }

  &::before {
    @media (min-width: $mid) {
      background: $accent-color;
      bottom: 3px;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: scaleY(0.05);
      transform-origin: 50% 100%;
      transition-duration: 0.2s;
      transition-property: transform;
      width: 100%;
      z-index: -1;
    }
  }
}

a:hover:not(.logo),
a:focus:not(.logo) {
  @media (min-width: $mid) {
    color: white;
  }

  &::before {
    transform: scaleY(0.9);
  }
}

.link--naked a:link,
.link--naked a:visited,
.link--naked a:hover,
.link--naked a:focus {
  border-bottom-style: none;
}

.nav {
  backdrop-filter: saturate(170%) blur(4px);
  background: rgba(255, 251, 245, 0.75); /* $page-color */
  border-bottom: 1px solid rgba(56, 56, 56, 0.25);
  border-top: 6px solid $accent-color;
  font-size: 0.85em;
  height: 2.75em;
  position: fixed;
  width: 100%;
  z-index: 9;

  @media (min-width: $mid) {
    font-size: 1em;
    height: 3.5em;
  }

  li {
    align-items: center;
    display: flex;
    margin-bottom: 0;
  }

  a:link,
  a:visited {
    border-bottom-style: none;
    color: mix($text-color, $accent-color, 80%);
    display: inline-block;
    line-height: 1.5;
    margin-left: 0;
    margin-right: 0.7em;
    text-align: center;
    text-decoration: none;

    @media (min-width: $mid) {
      line-height: inherit;
      padding-bottom: 0.8em;
      padding-top: 0.8em;
      text-align: left;
    }

    &::before {
      content: none;
    }
  }

  a.logo--nav {
    width: 155px;

    @media (min-width: $mid) {
      margin-left: -1em;
      width: 240px;
    }
  }

  .nav--emoji {
    display: none;

    @media (min-width: $mid) {
      display: inline-block;
      transition: transform 0.15s;
    }
  }

  a:hover,
  a:focus {
    border-bottom-style: none;
    border-top-color: $text-color;
    color: $text-color;
  }

  a:hover {
    .nav--emoji {
      @media (min-width: $mid) {
        transform: translateY(-0.15em);
      }
    }
  }

  small {
    color: mix($text-color, $accent-color, 60%);
    display: block;
    font-size: 0.7em;
  }

  .social-links {
    display: flex;
    margin-bottom: 0;
    opacity: 0.75;

    a:link, 
    a:visited {
      margin: 0 0.3em;

      @media (min-width: $mid) {
        margin: 0 0.5em;
      }
    }

    svg {
      height: 18px;
      width: 18px;

      @media (min-width: $mid) {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.nav__container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0;
}

code {
  background-color: mix($text-color, $accent-color, 80%);
  border-radius: 4px;
  color: rgb(42, 65, 77);
  font-size: 0.8em;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 8px;
}

main {
  margin-top: 4em;
}

pre {
  border-radius: 6px;
  overflow: auto;

  code {
    border-style: none;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

footer {
  color: $page-color;
  font-size: 0.9em;
  margin-top: 3em;
  padding-bottom: 2em;

  @media (min-width: $mid) {
    margin-top: 3em;
    padding-bottom: 4em;
  }
}

.footer {
  color: $text-color;
  margin-top: 35px;
  padding-top: 50px;

  @media (min-width: $mid) {
    margin-top: 80px;
    padding-top: 70px;
  }

  .content__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  br {
    content: ' ';

    @media (min-width: $mid) {
      content: none;
    }
  }

  br:after {
    content: ' ';

    @media (min-width: $mid) {
      content: none;
    }
  }
}

.post {
  .skewed {
    padding-bottom: 2.5em;

    @media (min-width: $mid) {
      padding-bottom: 5.5em;
    }
  }

  .date {
    font-size: 1em;
    font-style: normal;
    margin-top: 14px;

    @media (min-width: $mid) {
      margin-top: 8px;
    }
  }

  .separator {
    margin: 4em 0 7em;

    @media (min-width: $mid) {
      margin: 6em 0 11em;
    }
  }

  a:link:not(.link--naked),
  a:visited:not(.link--naked) {
    display: inline;

    @media (min-width: $mid) {
      display: inline-block;
    }
  }

  h1 {
    margin-top: 0.2em;
    text-shadow: 2px 2px 0 white, 4px 4px 0 $accent-light;

    @media (min-width: $mid) {
      text-shadow: 3px 3px 0 white, 6px 6px 0 $accent-light;
    }
  }

  p { 
    @media (min-width: $mid) {
      font-size: 1.25rem;
    }
  }

  img { width: 100%; }
}

.post__content {
  padding: 1.25em 0 0.5em;

  @media (min-width: $mid) {
    padding-top: 2.5em;
  }

  .eleventy-plugin-embed-spotify,
  p,
  blockquote {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 90%;

    @media (min-width: $mid) {
      max-width: 900px;
    }
  }

  blockquote {
    font-style: italic;
    margin-bottom: 2em;
    margin-top: 2em;

    p {
      font-size: 1.4em;
      border-left: 6px solid $accent-color;
      margin: 0;
      padding-left: 0.75em;
    }
  }
}