/* breakpoints for media queries */
$narrow: 400px;
$mid: 675px;
$wide: 1200px;

/* colours */
$page-color: #fffbf5;
$text-color: #383838;
/* $dark-color: #0b1d2b; */
$accent-color: #ec451c;
$dark-color: #000;
