@import "_variables.css";
@import "_syntax.css";

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}

::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
  background-color: $page-color;
}

body {
  background: linear-gradient(320deg, $accent-color 0%, $page-color 100%);
  color: mix($text-color, $page-color, 90%);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  min-height: 100vh;
  text-align: center;

  @media (min-width: $narrow) {
    font-size: 18px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  text-align: left;
  width: 90%;

  @media (min-width: $mid) {
    width: 600px;
  }

  @media (min-width: $wide) {
    width: 700px;
  }
}

h1,
h2,
h3 {
  color: $text-color;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.2em;
  margin-top: 2em;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.2em;
  margin-top: 0.4em;

  @media (min-width: $mid) {
    font-size: 5em;
  }
  @media (min-width: $wide) {
    font-size: 6em;
  }
}

.logo:link,
.logo:visited {
  border-bottom: 0;
  display: block;
  text-decoration: none;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.logo__path {
  animation: dash 5s linear forwards;
  stroke-dasharray: 2300;
  stroke-dashoffset: 2300;
}

.logo__path--second {
  animation-delay: 1s;
}

.logo__path--third {
  animation-delay: 2s;
}

p {
  margin-bottom: 1em;
  margin-top: 1em;
}

.subtitle {
  font-size: 1.1em;
  margin-bottom: 5em;
  margin-top: 2em;
  padding-top: 2em;
  position: relative;
  text-align: center;

  &::before {
    background: $accent-color;
    content: "";
    height: 3px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
}

ul,
ol {
  padding-left: 1em;
}

a:link,
a:visited {
  border-bottom-color: mix($text-color, $accent-color, 20%);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: $text-color;
  text-decoration: none;
}

a:hover,
a:focus {
  border-bottom-color: $text-color;
  color: $text-color;
}

.nakedLink a:link,
.nakedLink a:visited,
.nakedLink a:hover,
.nakedLink a:focus {
  border-bottom-style: none;
}

.nav {
  li {
    display: inline;
  }

  a:link,
  a:visited {
    border-bottom-style: none;
    border-top-color: mix($text-color, $accent-color, 40%);
    border-top-style: solid;
    border-top-width: 1px;
    color: mix($text-color, $accent-color, 80%);
    display: inline-block;
    margin-left: 0;
    margin-right: 0.7em;
    padding-bottom: 2em;
    padding-top: 0.8em;
    text-align: left;
    text-decoration: none;
    width: 9em;
  }

  a:hover,
  a:focus {
    border-bottom-style: none;
    border-top-color: $text-color;
    color: $text-color;
  }

  small {
    color: mix($text-color, $accent-color, 60%);
    display: block;
    font-size: 0.7em;
  }
}

code {
  background-color: mix($text-color, $accent-color, 80%);
  border-radius: 4px;
  color: rgb(42, 65, 77);
  font-size: 0.8em;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

main {
  margin-top: 4em;
}

pre {
  border-radius: 6px;
  overflow: auto;

  code {
    border-style: none;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

footer {
  border-top-color: mix($text-color, $accent-color, 10%);
  border-top-style: solid;
  border-top-width: 1px;
  color: mix($text-color, $accent-color, 50%);
  font-size: 0.7em;
  margin-top: 6em;
  padding-bottom: 6em;
  padding-top: 4em;

  a:link,
  a:visited {
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
    color: mix($text-color, $accent-color, 90%);
  }

  a:hover,
  a:focus {
    border-bottom: solid 1px $text-color;
    color: $text-color;
  }
}
